.navbar-fix-place-holder {
  // border: 1px solid red;
  position: relative;
  height: var(--nav-height);
}

.mainContainer {
  border: 1px solid red;
  position: relative;
  top: 150px;
  height: 200vh;
}

p {
  font-family: Lato;
}
