<navbar-fixed></navbar-fixed>
<!-- <div class="navbar-fix-place-holder"></div> -->

<div class="mainContainer">
  <p>
    {{result}}
  </p>
  <button (click)="start()">start</button>
  <button (click)="end()">end</button>

  <div>
    <fa-icon [icon]="faCoffee"></fa-icon>
  </div>

  <p>
    <span><b>Value emitted from child component is to Parent:</b></span>

    {{ valueEmittedFromChildComponent }}

    <app-child (buttonClicked)="parentEventHandlerFunction($event)">
    </app-child>
  </p>

  <button (click)="navToPage(navRoutes.LOADING_STENCIL_ROUTES_ROOT_SIMPLE)">Test Loading</button>

  <a routerLink="">routerLink home</a>
</div>
<router-outlet></router-outlet>