<div class="header-div">
  <h1 class="logo">Logo</h1>
  <input type="checkbox" id="nav-toggle" class="nav-toggle">
  <input type="checkbox" id="goto-toggle" class="goto-toggle">
  <nav>
    <ul>
      <li><a routerLink="/home">Home
          <span class="badge-num">
            0
          </span>
        </a></li>
      <li><a routerLink="/example/home">Example</a></li>
      <li><a routerLink="/sandbox/home">Sandbox</a></li>
      <li><a routerLink="/sandbox/home"><i class="fas fa-angle-down"></i></a></li>
      <li *ngIf="includeSandbox" class="navbar-goto-li">
        <a id="navbar-goto-li-a">
          GOTO
        </a>
        <i class="fa fa-angle-down"></i>
        <label for="goto-toggle-li-a" class="goto-toggle-label">
        </label>
        <div>
          <a class="dropdown-item" routerLink="example/sc/login">Spring Clound Login</a>
          <a class="dropdown-item" routerLink="example/employees">Employee List</a>
          <a class="dropdown-item" routerLink="example/oauthtoken">Spring Cloud All - OAuth Token</a>
          <a class="dropdown-item" routerLink="example/3ways">Between Components 3 Ways</a>
          <a class="dropdown-item" routerLink="/sandbox/home">SandboxHome-LiveUpdate-ChangeDetector</a>
          <a class="dropdown-item" routerLink="sandbox/msgbtw">Message Between Demo</a>
          <a class="dropdown-item" routerLink="/sandbox/svgcircleok">SVG Spinner onload</a>
          <a class="dropdown-item" routerLink="/sandbox/svgcircle">SVG Spinner</a>
          <a class="dropdown-item" routerLink="example/pagination">Pagination</a>
        </div>
      </li>
    </ul>
  </nav>
  <label for="nav-toggle" class="nav-toggle-label">
    <span></span>
  </label>
</div>