/* You can add global styles to this file, and also import other style files */

@import url('https://fonts.googleapis.com/css?family=Work+Sans:300,600');
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap");
// @import "~font-awesome/css/font-awesome.css";
// @import "assets/font-awesome/5.15.3/all.min.css";
// @import "~font-awesome/scss/font-awesome.scss";

* {
    margin: 0;
 }

html,
body {
  height: 100%;
}

/* Global Variables */
:root {
  --nav-background: rgba(0, 214, 170, .85);
  --hamburger-margin-left: 1em;
  --nav-item-margin-bottom: 1em;
  --nav-a-font-size: 1.2rem;
}
